<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>freshgear</title>
  <link rel='stylesheet' href ="/css/style.css">
</head>
<body>
 <header>
   <div class='logo'>
     freshgear
   </div>
   <div class='menu'>
      <a href="#">About</a>
      <a href="#">New Arrival</a>
      <a href="#">Cart</a>
    </div>
 </header>
 <section class='content-area home-page'>
<div class='top-section'>
  <div class='product'>
  <div class='circle'>
    <img src="img/products/adidas-yeez-bost-white.png">
  </div>
</div>
</div>
 </section>
  <script src="js/dist/vendors~FirstComp.js"></script>
  <script src="js/dist/FirstComp.js"></script>
</body>
</html>
